@import "styles/variables.scss";

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  margin-bottom: 64px;
  font-size: 128px;
  color: $color-primary;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
