@import "styles/variables.scss";

.component {
  border: none;
  background: $color-accent;
  height: 32px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  outline: none;
}

.pointer {
  cursor: pointer;
}
