@import "styles/variables.scss";

.component {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: $color-accent;
  cursor: pointer;
  outline: none;
}
