@import "styles/variables.scss";

.header {
  border-bottom: solid 2px $color-primary;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  list-style: none;
}

.title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1;
  text-align: right;
  text-transform: uppercase;

  &:first-child {
    margin-left: 16px;
    text-align: left;
  }
  &:nth-child(3) {
    text-align: center;
  }
  &:last-child {
    margin-right: 16px;
  }
}
