@import "styles/variables.scss";

.header {
  border-bottom: solid 2px $color-primary;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  list-style: none;
}

.title {
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 24px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1;
  text-transform: uppercase;
}
