@import "styles/variables.scss";

.component {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
  height: 40px;
  background: $color-primary;
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 16px;
  }
}

.last {
  margin-left: auto;
}

.list {
  display: flex;
  width: 100%;
  list-style: none;
}

.link {
  line-height: 1;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:global(.active) {
    cursor: default;

    .title {
      border-bottom-color: #fff;
    }
  }
}

.title {
  margin-top: 2px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: solid 2px transparent;
}
