@import "styles/variables.scss";

.component {
  list-style: none;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.title {
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 32px;
  color: $color-primary;
  line-height: 1;
  text-transform: uppercase;
}
